body {
  background-color: black;
}

.initButton:hover {
  background-color: #3a3a3a;
}

.customerMenu {
  position: absolute;
  margin-left: 10%;
  z-index: 2;
  margin-top: 3rem;
  color: white;
  width: 80%;
  height: 80%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #04041c;
  border: 2px solid white;
  border-radius: 12px;
}

.customerOptions>button {
  background-color: black;
}

.customerOptions>button:hover {
  background-color: #3a3a3a;
}

.submitButton{
  margin-top: 2rem;
  border: 1px solid white;
  background-color: black !important;
}

.submitButton:hover{
  background-color: #3a3a3a !important;
}

.removeButton {
  cursor: pointer;
  position: absolute;
  right: 30px;
  top: 20px;
}

.backButton{
  cursor: pointer;
  position: absolute;
  left: 30px;
  top: 30px;
}

.customerOptionsCont{
  width: 70%;
}

.customerOptionsCont > div{
  justify-content: space-around;
}

table{
  width: 100%;
}
tr{
  text-align: center;
}

th{
  font-size: 2rem;
}

.info{
  margin-top: 2rem !important; 
  align-self: baseline;   
}